<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="https://use.typekit.net/amd4oxb.css" />
      <link rel="stylesheet" href="src/main.css" />
      <title>Document</title>
   </head>
   <body>
      <h1>LIGHTS</h1>
      <a class="text power" href="/">
         OFF
         <span class="shift"> click to turn on</span>
      </a>
      <iframe
         src="https://giphy.com/embed/13TKQw9VGugKuA"
         width="480"
         height="361"
         frameborder="0"
         class="giphy-embed"
         style="margin-top: 0.8em"
         allowfullscreen></iframe>
   </body>
</html>
